<div class="container">
  <div class="text-start top">
    <h2><strong><%= @greeting %> <%= current_user.first_name %>!</strong></h2>
  </div>

  <!-- Places Carousel -->
  <div class="row top">
    <h5 class="col-8 text-start">Your visited places</h5>
    <div class="col-4 text-end see-all">
      <%= link_to places_path do %>See all</i>
      <i class="fa-solid fa-chevron-right fs-6">&nbsp</i>
      <% end %>
    </div>
  </div>

  <ul class="list-group" data-places-target="list">
    <% if @places.present? %>
      <% @places.each do |place| %>
        <% if place.name == "1" %>
          <li class="list-group-item"><%= place.name %></li>
        <% else %>
          <li class="list-group-item" hidden><%= place.name %></li>
        <% end %>
      <% end %>
    <% else %>
      <div class="p-4 text-center card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/dwrkiuiqa/image/upload/v1680507373/empty-logobg_tjlvi4.jpg)">
        <p>No places yet!</p>
      </div>
    <% end %>
  </ul>

  <% unless @places.nil? %>
    <div id="places-carousel" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <% @places.each_with_index do |place, index| %>
          <li data-bs-target="#places-carousel" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% @places.each_with_index do |place, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= render "places/place_card", place: place %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#places-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#places-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  <% end %>

  <br>

  <!-- Menu Items Carousel -->
  <div class="row">
    <h5 class="col-8 text-start">Your recent orders</h5>
    <div class="col-4 text-end see-all">
      <%= link_to menu_items_path do %>See all</i>
        <i class="fa-solid fa-chevron-right fs-6">&nbsp</i>
      <% end %>
    </div>
  </div>

  <ul class="list-group" data-menu_items-target="list">
    <% if @menu_items.present? %>
      <% @menu_items.each do |menu_item| %>
        <% if menu_item.name == "1" %>
          <li class="list-group-item"><%= menu_item.name %></li>
        <% else %>
          <li class="list-group-item" hidden><%= menu_item.name %></li>
        <% end %>
      <% end %>
    <% else %>
      <div class="p-4 text-center card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/dwrkiuiqa/image/upload/v1680507373/empty-logobg_tjlvi4.jpg)">
        <p>No orders yet!</p>
      </div>
    <% end %>
  </ul>

  <% unless @menu_items.nil? %>
    <div id="menu_items-carousel" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <% @menu_items.each_with_index do |menu_item, index| %>
          <li data-bs-target="#menu_items-carousel" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% @menu_items.each_with_index do |menu_item, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= render "menu_items/menu_item_card", menu_item: menu_item %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#menu_items-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#menu_items-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  <% end %>
</div>
