<div class="container">
  <h2 style = "text-align: center;">Dashboard</h2>
  <h5 style = "margin-bottom: 3px;">Places you have visited</h5>
   <div class="d-flex justify-content-end">
    <%= link_to "see all", places_path, style: "text-decoration: none; color: black; font-size: 15px;" %>
  </div>

  <ul class="list-group" data-places-target="list">
    <% @places.each do |place| %>
      <% if place.name == "1" %>
        <li class="list-group-item"><%= place.name %></li>
      <% else %>
        <li class="list-group-item" hidden><%= place.name %></li>
      <% end %>
    <% end %>
  </ul>

<% unless @places.nil? %>
  <div id="places-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <% @places.each_with_index do |place, index| %>
        <li data-bs-target="#places-carousel" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @places.each_with_index do |place, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= render "places/place_card", place:place %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#places-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#places-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

<% end %>

  <br>

  <h5 style = "margin-bottom: 3px;">You Have Eaten</h5>
  <div class="d-flex justify-content-end" style="position: relative;">
  <%= link_to "see all", menu_items_path, style: "text-decoration: none; mx-15px; color: black; font-size: 15px;" %>
</div>
<ul class="list-group" data-menu_items-target="list">
    <% @menu_items.each do |menu_item| %>
      <% if menu_item.name == "1" %>
        <li class="list-group-item"><%= menu_item.name %></li>
      <% else %>
        <li class="list-group-item" hidden><%= menu_item.name %></li>
      <% end %>
    <% end %>
  </ul>
  <div id="menu_items-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @menu_items.each_with_index do |menu_item, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= render "menu_items/menu_item_card", menu_item: menu_item %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#menu_items-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#menu_items-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
