<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h2>Add a place </h2>
      <%= simple_form_for(@place) do |f| %>
        <%= f.input :category, collection: %w[Bakery Bar Buffet Cafe Food\ Truck Patisserie Restaurant Other] %>
        <%= f.input :name %>
        <%= f.input :cuisine, collection: %w[American Chinese German Greek Indian Italian Mexican Oriental Spanish Japanese Thai Turkish Vietnamese Other]%>
        <%= f.input :address %>
        <%= f.submit "Add place", class: "btn btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>
