<div class="container">
  <div class="card mt-3 text-center">
    <h1><%= @place.name %></h1>
    <p><strong>Category: &nbsp</strong><%= @place.category %></p>
    <% if @place.category == "Restaurant" %>
      <p><strong>Cuisine: &nbsp</strong><%= @place.cuisine %></p>
    <% end  %>
    <p><strong>Address: &nbsp</strong><%= @place.address %></p>
  </div>

  <% if @place.menu_items.present? %>
    <% @place.menu_items.each do |menu_item| %>
      <div class="card mt-3 text-center">
      <h1><%= menu_item.name %></h1>
      <p><strong>Category: &nbsp</strong><%= menu_item.category %></p>
      <p><strong>Visited on: &nbsp</strong><%= menu_item.visit_date.strftime("%A, %b %d") %></p>
      <p><strong>Rating: &nbsp</strong><%= menu_item.rating %></p>
      </div>
    <% end %>
  <% else %>
  <div class="card">
    <p>You have not been to <%= @place.name %> yet!</p>
  </div>
  <% end %>
</div>
