<div class="container">
  <div class="place-info-card">
    <div class="d-flex justify-content-between">
      <h2><%= @place.name %></h2>
      <div class= "icons">
        <%= link_to edit_place_path(@place), class: "text-decoration-none text-dark" do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
        <%= link_to place_path(@place), class: "text-decoration-none text-dark",
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </div>
    </div>
    <p><em><%= @place.cuisine %> <%= @place.category %></em></p>
    <%# <% if @place.category == "Restaurant" %>
      <%# <p><em>Cuisine: &nbsp</em><%= @place.cuisine %>
    <%# <% end  %>
    <p><i class="fa-sharp fa-solid fa-location-dot"></i>  <em><%= @place.address %></em></p>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% if @place.menu_items.present? %>
      <% @place.menu_items.each do |menu_item| %>
        <%= render "menu_items/menu_item_card", menu_item: menu_item %>
      <% end %>
    <% else %>
    <div class="card">
      <p>You have not been to <%= @place.name %> yet!</p>
    </div>
    <% end %>
  </div>
</div>
